body{
	background: url("https://unitedworldwrestling.org/sites/default/files/field/image/img_0017.jpg");
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	text-align: center;

}

h1{
	text-align: center;
	font-size: 100px;
	background-color: #FFFFFF99;
	
}
p{
	background-color: #FFFFFF55;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	font-size: 25px;
}
#link{
	width: 100%;
   	height: 100%;
   	position: relative;
}
#btn{
	width: 300px;
}
#tex{
	float: center;
   	position: absolute;
   	left: 47%;
   	top: 32%;
   	z-index: 1000;
   	padding: 5px;
   	color: #FFFFFF;
   	font-weight: bold;
   	font-size: 25px;
}
